.w-layout-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }

.btnscalcu{
    grid-template-columns: .8fr 0.8fr 0.8fr 0.8fr;
}

.screen{
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #504f4f;
    color: lightgray;
}

.screen > p {
    margin: 0;
    padding: 0 10px;
}

.oper, .numb{
    box-shadow: 0 0 3px;
    cursor: pointer;
    text-align: center;

    padding: 5px;
    transition: 0.3s;
}

.oper:hover, .numb:hover{
    background-color: black;
    color: whitesmoke;
}

.equal{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    display: block;
    border-radius: 0 0 10px 0;
}

.dot{
    border-radius: 0 0 0 10px;
}

.FigureCalc{
    /* padding: 15px; */
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    width: 10vw;

}
